@import "tailwindcss";

/* Di v4, kita seting tema langsung di sini, Boss */
@theme {
  --color-primary: #4988c4;
  --color-primary-dark: #3a6fa3; /* Versi gelap untuk hover */
  --color-dark: #16151c;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in-right {
  animation: slideInRight 0.3s ease-out forwards;
}

@keyframes scaleUp {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scale-up {
  animation: scaleUp 0.2s ease-out forwards;
}
